@font-face {
	font-family: 'Brown';
	src: url('fonts/BrownPro-Regular.eot');
	src: local('☺'), url('fonts/BrownPro-Regular.woff') format('woff'), url('fonts/BrownPro-Regular.ttf') format('truetype'), url('fonts/BrownPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// =============================================================================
// Typography defaults
// =============================================================================

* {
	-webkit-font-smoothing : antialiased;
}

body {
	line-height: 1.4;
	font-family: "Brown", "Helvetica", Arial, sans-serif;

}

a {
	text-decoration:underline;
	color:inherit;
	&:hover {
		color:@highlight;
	}
}


// =============================================================================
// Type sizes:	http://modularscale.com	(use 'ems at 16' setting), or overwrite!
// =============================================================================

@xs:		0.52em;
@s:			0.688em;	// 11px
@r:			0.813em;	// 13px (body)
@m:			1.016em;
@l:			1.27em;
@xl:		1.587em;
@xxl:		1.984em;


h1 { font-size:@xxl; }
h2 { font-size:@xl; }
h3 { font-size:@l; }
h4 { font-size:@m; }
h5 { font-size:@r; }

h1, h2, h3, h4, h5 {
	text-rendering: optimizeLegibility;
	margin-bottom:1em;
}

p, ul, ol { margin-bottom:1em; }
p, li, dd, dt { font-size:@r; }

small { font-size:@s; }

strong, b { font-weight:bold; }
em, i { font-style:italic; }