// =============================================================================
// Colours
// =============================================================================

@bgBody:		#ccc;
@highlight:		#783233;
@textDefault:	#222;



// =============================================================================
// Breakpoints (use ems instead of pixels to account for user zoom)
// =============================================================================

@bpS: 			20em;
@bpM:	 		40em;
@bpL: 			60em;
@bpXL: 			80em;