// =============================================================================
// Footer
// =============================================================================

.ft-main {
	text-align: center;
	padding: 1em;
	border-top: 1px #c1c0c0 solid;
	margin-top: 1em;
	small{
		text-transform: uppercase;
		font-size: @s;
	}
}