// =============================================================================
// Header
// =============================================================================

.hd-main {
	position: relative;
	padding: 2em 0;
	margin-bottom: 1em;
	border-bottom: 1px #c1c0c0 solid;
	.hd-logo{
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		font-size: 0;
		width: 100%;
		padding-bottom: 10.7%;
		background: url(img/logo.svg);
		background-size: 100% 100%;
		@media all and (min-width: @bpM) {
			width: 386px;
			padding-bottom: 43px;
			margin: 0 auto;
		}
	}
	.hd-telephone{
		position: absolute;
		top: 0;
		left: 0;
		font-size: @s;
		font-weight: normal;
		strong{
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}



