.nav-share{
	position: absolute;
	top: 0;
	right: 0;
		li{
			display: inline-block;
				height: 25px;
				width: 25px;
			a{
				display: block;
				width: 100%;
				height: 100%;	
				background: url( img/social-media.png ) no-repeat;
				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;
				&:hover{
					.opacity( 0.4 );
				}
			}

			&.fb{
				width: 17px;
				a{
					background-position: 5px 0;
				}
			}
			&.twitter{
				width: 20px;
					a{
						background-position: -16px 0;
					}
				}
			&.insta{
					a{
						background-position: -36px 0;
					}
				}
		}
	}