// =============================================================================
// Layout rules for block level container elements
// =============================================================================


html {
	min-height:100%;
}

body {
	min-height:100%;
}

[role="main"] {
	padding: 1em;
	margin:0px auto;
	max-width: 950px;
}